__pycache__/
*.py[cod]
*$py.class

worblehat.sqlite

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.env
.env.development.local
.env.test.local
.env.production.local
.env.local

dist/

result

config.toml

*.qcow2
