# Various python cache and build files
__pycache__/
*.py[cod]
*$py.class

# Build and test system outputs
.coverage
.coverage.*
dist/
htmlcov
src/worblehat/_version.py
test-report/
worblehat.egg-info

# Virtual environment files
.venv
ENV/
env.bak/
env/
venv.bak/
venv/

# Local environment files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Ruff
.ruff_cache

# Nix stuff
result
*.qcow2

# Development config
config.toml

# Development database
worblehat.sqlite
